<div class='dbox'>
	<h3>About Us
		</h3>
	<p><a href="https://www.facebook.com/groups/123474604420011/"> Join our group page on Facebook:</a> <br />
<a href="https://twitter.com/tamuleague "> Twitter: TAMULeague </a> <br />
<%= link_to "Official Stream", '/off_stream'%><br />
In-Game LoL Chat: TAMULoL</p>
<h3>Mission</h3>
<p>
	Our mission is to bring together both casual and competitive players of Texas A&M League of Legends within the Texas A&M community, to play and compete against each other in a fun, relaxed setting, to introduce new players to the game and get them involved, provide opportunities to members to instruct other members about concepts and ideas of the game, and to represent Texas A&M within the e-sports industry.
</p>
<h3>General information</h3>
<p>
President - Michael Young - Ragualith <br />
Secretary - Katy Barber - theSQUEAKYduck<br />
Treasurer - Mercedes Rivas - mursee<br />
Public Relations - Derek Morcom - SpreadZer0 <br />
Event Coordinator - Matthew Saari - Boom9001  <br />
Creative Director - Dylan Liu -  stunash <br />
Web Site Developer - Khoa Bui -  AA247</p>
	</div>
