<div class='longd'>
	<h4>TAMU Player List</h4>
	<body><style type="text/css">
  p {font-family: fantasy,   Serif;}
</style>
<h3>Diamond</h3>
		<p>
			    Reid Towart - Sync Epicshots - Diamond I  
</br>
     Jack Lakoski - Lakoski -Diamond 5
     </br>
     Yang Yang- Everlasting
</p>

<h3>Platinum</h3>
<p>
	Dylan Liu - stunash - Platinum IV</br>
Alex Garber - Spankin Muffin- Plat IV</br>
Michael Fayomi - Near1337 - Plat V</br>
James Johnson-TitaniumPlate - Plat I</br>
Matt Whipple - Leek0 - Plat V</br>
Ian Nicholson - Kraix - 1851</br>
Steven You - Emily VanCamp - Plat V</br>
Khoa Bui - aa247 1800</br>
Jonathan Walters - Redsc4re Plat V</br>
Henry Nguyen - No0b Cake Plat V</br>
Jeremy Frye - GhostSonForever Plat V</br>
 Ryan Odders - Miniblitz Plat V </br>

 Siru Li - SiRuLi Plat III</br>
 
</p>
<h3>
	Gold
</h3>
<p>
	    Greg Jones - Forgivingbus - 1736</br>
    Derek Morcom - SpreadZer0 - Gold IV</br>
    Hunter Shannon - Buttepirates - 1524</br>
    Jake Wegenhoft - WiggleMyWiggles - Gold I</br>
    Christian Horton - xHorton - 1626</br>
    Jacob Buchanan - SilverFoam - Gold V</br>
    Matthew Liu - Ubermensche - 1587</br>
    Michael Chao - Shmoichal Gold I</br>
    Josh Privett - Tansuke (called Tansuck by some) Gold III</br>
    Jim Yang - mcyangbang- Gold II</br>
    Bruce Zheng - BruceMoose - Gold V</br>
    Sonny Childs - Kwazzi - Gold V</br>
    Joseph Vu - Kainazzo - Gold IV</br>
    Ritvik Bansal - ratchethero Gold V</br>
    Sufiyan Sheikh- SimplyTheBoss Gold V</br>
    Taylor Buie - Buheast Gold III</br>
    Kristen Johnson -Rainmrow Gold V</br>
    Michael Cook -EasyBake Chef Gold V </br>
    Kalil Armstrong - Nocx - Gold V</br>
</p>
<h3>
	Silver
</h3>
<p>
	Jeffrey Li - Apocalyptic93 - Silver I</br>

Evan Rodgers - aggierogue Silver I</br>
Rico Balakit- Mushrooshi - 1373</br>
Kingsley Franklin - Zystrom - Silver I</br>
Nick Lonsway - EmoArbiter - Silver II</br>
Emily Bundy - GigglingSushi - 1305</br>
Michael Stombaugh - J33zuSJu1c3 - 1450</br>
Andrew Chepey - Aggiedude720 - Silver I</br>
Daniel Meneses- tawtwoffl & Furrrburger both 1350ish</br>
Daniel Smith - Damatown Silver I</br>
Andrew Pridemore - Zinzolan 1286</br>
Austin Womack - coconutnerd 1377</br>
Andrew Harrison - DeltaDrake - Silver</br>
Cory Wolfe - Nibirue VI Silver II</br>
Matthew Scorpio - Mattack SC Silver II</br>
Michael Castillo - Flaresi - Silver III</br>
Darcy Franco - 6reen Silver IV</br>
Curtis Han - niemidasekya - Silver IV</br>
Sara Ballard - Deetja0014 - Silver IV</br>
Joshua Cook - Sisyphus Petra - Silver IV</br>
Eric Blosser - Aragnan Silver II</br>
Brandon Karm - Dr Karma Silver IV</br>
Clark Johnson - mistuhgee Silver II</br>
Travis McClanahan - VforVendetta7 -  Silver V </br>
Andrew Blackwell - andrewblackwe - Silver IV</br>
Chris Decker - cjdeck1 - Silver IV</br>
Sean Fry - SauceBaws69 Silver V </br>
Kyle Demel - Kalen of Gildar Silver III</br>

Michael Howard - mh0w4rd Silver I</br>
</p>
<h3>Bronze</h3>
<p>
	Phillip Ligon - 30mag - Bronze V</br>
Jarred Younce - Swatmaster - Bronze I</br>
Wesley Prescott- Exxel91 - Bronze I</br>
Joseph Cox - Jseph Bronze I</br>
Dana Moore - Wanttobegamer Bronze V</br>
Trey Roady - hardwarejunkie9 Bronze I</br>
Raleigh Brewer - MI2 Cuddles Bronze III</br>
</p>
</body>
</div>

