<div class="hero-unit">
	
	<h1>Officers</h1>
	President - Michael Young - Ragualith <br />
Secretary - Katy Barber - theSQUEAKYduck<br />
Treasurer - Mercedes Rivas - mursee<br />
Public Relations - Derek Morcom - SpreadZer0 <br />
Event Coordinator - Matthew Saari - Boom9001  <br />
Creative Director - Dylan Liu -  stunash <br />
Web Site Developer - Khoa Bui -  AA247</p>
	
	</div>
