<div class="hero-unit">
	
	<h1>Officers</h1>
 
 
<h3>Board of Directors</h3>

-Michael Young, President
-Katy Barber, Treasurer
-Max Simmons, Event Coordinator
<h3>
	Divisions:
</h3>
<h4>League of Legends (LoL)</h4>

-Sean Liu, Division President<br />
-Khoa Bui, Website Admin<br />
-Matt Saari, Season Coordinator<br />
-Dylan Liu, Social Events Coordinator<br />
-Mercedes Liu, Secretary<br />
-Ritvik Bansal, Stream Coordinator<br />
<h4>First Person Shooter (FPS)</h4>

-Joey Krek, Division President<br />
-Lawrence Koonce, Public Relations <br />
<h4>Fighting Games (Fighting)</h4>

-Joseph Glover, Division President<br />
-Wes Wehner, Event Coordinator<br />
-Connor Scott, Secretary<br />
-Nicholas Lonsway, Lead Tournament Organizer<br />
-Zachary Lyons, Assistant Head<br />
<h4>
	StarCraft II/DOTA 2 (SCII/DOTA 2)
</h4>

-Alan Villarreal, Division President<br />
-Jeffrey Dow, SCII Officer<br />
-Patrick Knauth, DOTA 2 Officer<br />
	</div>
