<div class="hero-unit">
	
	<h1>Officers</h1>
 <br />
 
<h3>Board of Directors</h3>

-Michael Young, President<br />
-Katy Barber, Treasurer<br />
-Max Simmons, Event Coordinator<br />
<h3>
	Divisions:
</h3>
<h4>League of Legends (LoL)</h4>

-Sean Liu, Division President<br />

-Matt Saari, Season Coordinator<br />
-Dylan Liu, Social Events Coordinator<br />
-Mercedes Liu, Secretary<br />
-Ritvik Bansal, Stream Coordinator<br />
<br />
<h4>First Person Shooter (FPS)</h4>

-Joey Krek, Division President<br />
-Lawrence Koonce, Public Relations <br /><br />
<h4>Fighting Games (Fighting)</h4>

-Joseph Glover, Division President<br />
-Wes Wehner, Event Coordinator<br />
-Connor Scott, Secretary<br />
-Nicholas Lonsway, Lead Tournament Organizer<br />
-Zachary Lyons, Assistant Head<br />
<br />
<h4>
	StarCraft II/DOTA 2 (SCII/DOTA 2)
</h4>

-Alan Villarreal, Division President<br />
-Jeffrey Dow, SCII Officer<br />
-Patrick Knauth, DOTA 2 Officer<br />


<h4>Khoa Bui, Website Admin
	</h4>

	</div>
