
<link href="custom2.css" rel="stylesheet" type="text/css" />
  <div class="hero-unit" font size="10">   
   
  	<h1> TAMU Raid Call Rules</h1>
  
  	<br />
  	

  <body>

  	<br />
<li> 1. Players will enter the main tournament lobby by a set time and date. 
*players arriving late will be put in the “standby room” where they will be placed on a team at the admins discretion or not at all. Players put in the standby room receive -1 to their points earned, but will not receive negative points if the total is 0.</li> 
<li>
2. Players are required to change their Raidcall screenname in the following format : 
     [LEAGUE AND DIVISION], ign, (preferred roles in order of importance) 
     Example: Plat 5, stunash, (jungler, top, support)
if they do not have a mic, they must type NM at the end of their raidcall name. inform players that NM means they have no mic.</li>
<li>
3. When all players are ready, instruct players to enter Raidcall channels that are separated based on what league tier they’re in (bronze, silver, gold, etc)
</li>
<li> 4. Beginning from the highest tier, an admin will ask for players to be captains, admins will recruit captains until there are enough to host all players. Move captains into captain’s channel.
</li>
<li>  5. Pick order of captains will be decided by solo queue elo via lolking. Lowest elo captains pick first, and higher elo captains pick last. Have an order decided for the pick order and have captains add that pick order number to the beginning of their name. That pick order number will also be the team they are on and their picked players will be on. 
</li><li>
6. Starting from the 1st pick captain, move down and establish teams. As each pick is called, move each captain’s pick to their corresponding team room. For example, if the first pick captain chooses higheloplayer110, move higheloplayer110 to the team 1 channel. Have players add each other via the tamulolraidcall chat channel via the League of Legends client. Team captains should contact each other via messaging or adding each other to form a custom game for their match. Matches must be tournament draft. If a player disconnects then advise they pause the game. 
</li><li>
7. After all players are assigned to teams, use http://challonge.com/ to assign which teams will play which. Games will be single elimination. Emphasize that initial results of games are very important in order for admins to take role and distribute necessary participation points for the Raidcall circuit scoreboard. 
</li><li>
8. Instruct players to screenshot results of each match and report/send it to the admin. Admins must update tournament brackets accordingly. The link to the tournament brackets should be posted on the Facebook group. 
</li><li>
9.  Members of winning teams gain points as follows

Participation= 1 pt
4th place = 3 pts
3rd place = 5 pts
2nd place = 7 pts
1st place = 10 pts

Have coaches on standby for open after game coaching. Inform players that after being eliminated they are welcome to chat and play in the game rooms above. 

If a player has to leave in the middle of the tournament, unless it is an emergency, the player will have -5 points subtracted from their total Raidcall circuit board score. 3 points will be subtracted if they leave due to internet issues.

Players may report a player for verbal abuse or trolling via private message or speaking with an admin privately. The admin can then choose to discretely listen in on the room after the game has started or spectate a game, or act as he/she deems necessary to correct the problem. Player’s will receive 1 warning and afterward will have between 1-5 points subtracted from their circuit score depending on the severity of the situation. 

Trash talking and joking around is allowed, but if it becomes a problem or turns hostile, degrading, or abusive, report the player or team to the admin. 
Players are allowed to move to Skype if Raidcall is problematic. However one player must still report games via the Raidcall channel.

3 admins are recommended per tournament. one should be handing tournament brackets and match reporting, one should be handling player abuse, disconnects and issues involving the game. A third admin should be circuit board points distribution and player name submission. This is just a suggestion, admins should be handling work as needed regardless of role if it is needed. 
</li>
  </body>
  
  


 
  
  
  </div>
  

