


<link href="custom2.css" rel="stylesheet" type="text/css" />
  <div class="hero-unit" font size="10">   
  <body>
  	<h1> TAMU E-Sports League of Legends Rules</h1>
  	<br />
  	<h4> Player Requirements
</h4>
<p><ul><li>Players must be from Texas A&M or Blinn
	 </li>
	 
	 <li>Every player will be required to give their tamu.edu or blinn.edu email for verification
	 	</p>
 </li>
 </ul>
  <h4>
  	Team Requirements

  </h4>
  <p> <ul><li>Teams <a href="http://amesports.org">register online</a> at , but are not fully registered until all memebers have verified their email and paid the entrance fee. 
 </li>
 <li>Teams names should be in good taste. Nothing crude, offensive, disruptive, or insulting may be used. </li>
  <li>
  Teams must give a team tag containing at most 4 letters. The team tag should have some correlation to team name and may be neither crude nor offensive.</li> 
 <li>
 	Each team must appoint a Captain that will be in charge of the teams scheduling each week and main point of contact for the Season Coordinator.
 </li>
  
 <li> Team must also choose a team representative for initial ranking purposes. This persons elo will be the one we use, along with previous season rankings to determine the teams initial position. 
</li> <li> Teams may add/remove players up until soon(tm), from then teams are then locked until the end of the season.  
	</li>
	</ul>
</p>
The Season Coordinator will have final say on whether a team name is acceptable and has the right to raise any team name into question.
  <h4>
  	Season Rules

  </h4><p>
  	<ul><li> Teams will be expected to fill out a time sheet on<a href="https://doodle.com/"> https://doodle.com/ </a> to help expedite scheduling. If two teams that are playing have no corresponding times, favor will be given to the team that has more time slots selected as free times.
 You are expected to follow the Aggie Honor Code within games. Any reports of a team violating our Honor Code will be subject to penalty that could lower season rankings. </li>
<li> Teams must send at least one player, preferably the team captain, to Season Meetings. If special circumstances prevent this contact the season coordinator.</li>
<li> Teams must report all games to TAMULeague@yahoo.com Please wait until you have played all your games for the week before reporting. </li>
<li> Team should take screenshots of all games, but will only be required to send screenshots of their own victories. </li>
<li> If you forget to take a screenshot of the match in the post game you may give us information from LoLking.com, but all times from here will be considered to be in the 59th second of the minute it reports, because it does not report the seconds.
	 </li>
</ul>
  </p>
  <h4>Season Format</h4><p>
  	<ul><li> Teams will be initially ranked by their team representatives elo with some changes by the Season Coordinator based on previous years performances.</li>
<li>With the initial rankings teams will be broken up into “courts” of three teams apiece. If the number of teams is not a multiple of three one of two courts will contain only two teams.</li>
<li>Every monday teams will be given two times they are to play the other teams in their court. Initial times for these games will be placed using the information teams place into doodle.com</li>
<li>Rescheduling after initial times are sent is allowed and team captains will be given the info of other team captains to facilitate this. Once a different time is agreed upon both team captains must email the season coordinator in order to ensure consensus by both teams. After this the new time will be the teams official time to play.</li> 
<li>Games played in traditional 3 person courts are Bo1/Bo3, while courts containing only 2 teams will be a Bo3. </li>
<li>At the end of the week the team in each court that has won the most games moves up in rankings, team that has won the least moves down in rankings, middle team will not move. </li>
<li>Ties, courts in which each team beats one team, will be broken by winner being the fastest win and loser being slowest win.</li>
</ul>
  </p>
  </body>
  
  
  </div>
  

