<div class='dbox'>
	<h3>Shirts
		</h3>
		Front<br />
		<a href="http://imgur.com/bGptf9z"><img src="http://i.imgur.com/bGptf9z.jpg" title="Hosted by imgur.com" /></a>
		<br />
		Back <br />
		<a href="http://imgur.com/AvuSRME"><img src="http://i.imgur.com/AvuSRME.jpg" title="Hosted by imgur.com"/></a>
 <p>Price: Soon(tm)</p>
	</div>
