




  <div class="hero-unit">   



      	    <h3>Tokyo in Tulsa 2013</h3>
      	    <body>
      	    	 
      	    
<div class="container">
 




 



<link href="image-slider/js-image-slider3.css" rel="stylesheet" type="text/css" />
<script src="image-slider/js-image-slider.js" type="text/javascript"></script>



<div class="hero-unit" style="background-color: transparent; padding-top:0px;">



<div id="sliderFrame">

<div id="slider">
       <!--Image 1-->
       <img src="tusla3.jpg"  alt="#caption1"/>
       <!--Image 2-->
       <img src="tusla2.jpg" alt="#caption2"/>
       <div class="container">
       <img src="tusla1.jpg" strong[style] width="600" height="500" alt="#caption3"   />
       </div>
       <!--Image 2-->
       <img src="tusla5.jpg" alt="#caption4"/>
       <img src="tulsa9.jpg" alt="#caption5"/>
          <img src="tu1.jpg" alt="#caption5"/>
       <!--Image 2-->
       <img src="6644_XL.jpg" alt="#caption6"/>
       <img src="tusla.jpg" alt="#caption6"/>
        <img src="6647_XL.jpg"   alt="#caption11"/>
      
        </div>
        
             <div id="caption11" style="display: none; color:white">
        <a href="#">1. Farmers Fighting</a>
        </div>
</div>
<br /><br /><br />

 <img src="farmers.jpg"   alt="#caption11" style="width: 750px"/>
	<p>  
      	    		After traveling 300 miles from Texas, Farmers Fighting arrives in TnT.
      	    		Farmers Fighting dominates the first two sets taking both games in 20 mins.<br />
      	    		In the finals Bo5, Farmers Fight win 3 close games againist Pizza Time taking home $1300 for first place. 
      	    		 
      	    		
      	    		
      	    		
      	    	</p>  
      	    </body>
      	    
      	    
 


        <!--Caption 1-->
  
                <!-- <div id="caption3" style="display: none;">
        <a href="#"> </a>
        </div>
        <div id="caption4" style="display: none;">
        <a href="#">Farmers Fighting</a>
        </div>
                <div id="caption5" style="display: none;">
        <a href="#">Farmers Fighting</a>
        </div>
                <div id="caption11" style="display: none;">
        <a href="#">Castro</a>
        </div>
                <div id="caption12" style="display: none;">
        <a href="#">Farmers Fighting</a>
        </div>        
         -->
</div>


</div>
</div>
