

<table border="1">
  <tr>
    <th>Team Name</th>
    <th>Capt Name</th>
    <th>Summoner</th>
    <th>email</th>
  </tr>
  <% @teams.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.teamcapt %></td>
    <td><%= product.name1 %></td>
    <td><%= product.email1 %></td>
  </tr>
  <% end %>
</table>

