<div class="span4 offset0"> 

<div class='dbox'>

<p><h1>Your Team:</h1>
	</p><% @teams.each do |team| %>
	<% if team.user_id == @user.id  %>
	 <p>
	 	<%= link_to  team.name, team_path(team) %>
	 </p>
	 <% end %>
	 <% end %>
	 </div>
	 </div>
