 
<div class='dbox'>

<p><h1>Your Team:</h1>
	</p><% @teams.each do |team| %>
	<% if team.user_id == @user.id   %>
	 <p>
	 <h3><%= link_to  team.name, team_path(team) %></h3>	
	 	
	 	<% if not ( team.email1.include? "tamu.edu" or team.email1.include? "blinn.edu" ) %>
	 	Team Captain email is not valid
	 	<% end %>
	 	<br />
	 	<% if not ( team.email2.include? "tamu.edu" or team.email2.include? "blinn.edu" ) %>
	 	
	 	Player 2's Email is not valid
	 	<% end %>
	 	<br />
	 	<% if not ( team.email3.include? "tamu.edu" or team.email3.include? "blinn.edu" ) %>
	 	Player 3's Email is not valid
	 	<% end %>
	 	<br />
	 	<% if not ( team.email4.include? "tamu.edu" or team.email4.include? "blinn.edu" ) %>
	 	Player 4's Email is not valid
	 	<% end %>	
	 	<br />
	 	<% if not ( team.email5.include? "tamu.edu" or team.email5.include? "blinn.edu" ) %>
	 	Player 5's Email is not valid
	 	<br />
	 	<% end %>	 
	 	<br />	 	
	 	<% if not team.verify %>
	 	Team has not paid yet
	 	
	 	<br />
	 	<a href="https://secure.touchnet.com/C21490_ustores/web/product_detail.jsp?PRODUCTID=4456">  Pay Now</a>
	 	<br />
	 	<% end %>
	 	
	 </p>
	 
	 <% end %>
	 <% end %>
	 </div> 
