<div class="hero-unit">
		<br />
		<br />
	<div id="navcontainer">
			
	<ul class="idTabs">
		 
	  <li><a href="#jquery">Online Streams</a></li> 
	  <li><a href="#official">Offline Streams</a></li> 
	     </ul>
</div>
	<div id="jquery" style="min-height: 400px">
		<% if @streams.each %>
		<% @streams.each do |f| %>
		<% if is_online(f.link) %>
		<li style="text-align: center"><%=  link_to f.link , f%>: <%=  is_online(f.link)['game']  %></li> 
		 <%=  is_online(f.link)['status']  %>
			<% end %>
			<br />
		<%end %>
		<% end%>
		<br />
		<br /><br />
		</div>
		
	<div id='official'>
		<% if @streams.each %>
		<% @streams.each do |f| %>
		<% if is_online(f.link) == nil  %>
<li style="text-align: center">  <%=  link_to f.link , f%></li>	
			<% end %>
			<br />
		
		<%end %>	<br />
			<br />
		<% end%>
			
			
			
		</div>
	
	
	</div>
