<div class="hero-unit">
		
	<div id="navcontainer">
			
	<ul class="idTabs">
		 
	  <li><a href="#jquery">Online Streams</a></li> 
	  <li><a href="#official">Offline Streams</a></li> 
	     </ul>
</div>
	<div id="jquery">
		<% if @streams.each %>
		<% @streams.each do |f| %>
		<% if Stream.check_online(f.link) =='online'%>
		
			<%= link_to f.link, f%>
		
			<% end%>
			<br />
		<%end %>
		<% end%>
		</div>
		
	<div id='official'>
		<% if @streams.each %>
			<% @streams.each do |f|  %>
					<% if Stream.check_online(f.link) == 'offline'%>
		
					<%= link_to f.link, f%>
		
			<% end%>
			<br />
			
			<% end%>
			<% end %>
			
			
		</div>
	
	
	</div>
