




  <div class="hero-unit">   



      	    <h3>Welcome to Texas A&M Esports</h3>
<div class="container">
 




 



<link href="image-slider/js-image-slider.css" rel="stylesheet" type="text/css" />
<script src="image-slider/js-image-slider.js" type="text/javascript"></script>



<div class="hero-unit" style="background-color: transparent; padding-top:0px;">



<div id="sliderFrame">

<div id="slider">
       <!--Image 1-->
       <img src="lol0.jpg" alt="#caption1"/>
       <!--Image 2-->
       <img src="lol1.jpg" alt="#caption2"/>
       <img src="lol2.jpg" alt="#caption3"/>
       <!--Image 2-->
       <img src="lol3.jpg" alt="#caption4"/>
       <img src="lol4.jpg" alt="#caption5"/>
       <!--Image 2-->
       <img src="lol5.jpg" alt="#caption6"/>
       
         <img src="lol6.jpg" alt="#caption7"/>
           <img src="lol7.jpg" alt="#caption8"/>
             <img src="lol8.jpg" alt="#caption9"/>
               <img src="lol9.jpg" alt="#caption10"/>
                 <img src="lol10.jpg" alt="#caption11"/>
                   <img src="lol11.jpg" alt="#caption12"/><br />   
       
</div>

        <!--Caption 1-->
        <div id="caption1" style="display: none;">
        <a href="#">Spring 2013 Live Event</a>
        </div>
        <!--Caption 2-->
        <div id="caption2" style="display: none;">
        <a href="#">Syncopation and Fans</a>
        </div>
                <div id="caption3" style="display: none;">
        <a href="#"> </a>
        </div>
        <div id="caption4" style="display: none;">
        <a href="#">Farmers Fighting</a>
        </div>
                <div id="caption5" style="display: none;">
        <a href="#">Farmers Fighting</a>
        </div>
                <div id="caption11" style="display: none;">
        <a href="#">Castro</a>
        </div>
                <div id="caption12" style="display: none;">
        <a href="#">Farmers Fighting</a>
        </div>        
        
</div>


</div>
</div>

 