<div class='longd'>
	<h4>Spring 2013 TAMU Season 1</h4>
	
	<body><style type="text/css">
  p {font-family: fantasy,   Serif;}
</style><h3>1. Farmers Fighting</h3>
		<p>
			Congrats to <b>Farmers Fighting</b>  for taking first place out of 34 teams
		</p>
		<a href="http://imgur.com/5hyrOKE"><img src="http://i.imgur.com/5hyrOKE.jpg" title="Hosted by imgur.com" /></a>
		<p>From left to right Trent( picarus),  Jonathan(redsc4re), Steve(nonspes), Khoa(aa247),  Matt(leek0), and Jerry(Jerrrrry) in the center   </p>
		<h3>
			2. Syncopation
		</h3>
		<h3>
			
			3. Off All The Time
		</h3>
		<h3>
			4. TAIF
		</h3>
		
		<object bgcolor='#000000' data='http://www.twitch.tv/widgets/archive_embed_player.swf' height='378' id='clip_embed_player_flash' type='application/x-shockwave-flash' width='620'><param name='movie' value='http://www.twitch.tv/widgets/archive_embed_player.swf' /><param name='allowScriptAccess' value='always' /><param name='allowNetworking' value='all' /><param name='allowFullScreen' value='true' /><param name='flashvars' value='archive_id=396452202&amp;start_volume=25&amp;auto_play=false&amp;title=TAMULeague%2BChampionship%2BFINALS&amp;channel=tamuleague' /></object><br /><a href="http://www.twitch.tv/tamuleague" class="trk" style="padding:2px 0px 4px; display:block; width: 320px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch live video from tamuleague on TwitchTV</a></body>
	
	
</div>
