<div class='hero-unit'>
	<h1>Terms Of Service
		</h1>
	 
	  	<h4> Player Requirements
</h4>
<p>-Players must be from Texas A&M or Blinn
	<br />
	 
	-Every player will be required to give their tamu.edu or blinn.edu email for verification</p>
  <h4>
  	Team Requirements

  </h4>
  <p>Teams register online at http://amesports.com/, but are not fully registered until all memebers have verified their email and paid the entrance fee. 
<br /> names should be in good taste. Nothing crude, offensive, disruptive, or insulting may be used. 
<br />Teams must give a team tag containing at most 4 letters. The team tag should have some correlation to team name and may be neither crude nor offensive.
<br />Each team must appoint a Captain that will be in charge of the teams scheduling each week and main point of contact for the Season Coordinator.
<br />Team must also choose a team representative for initial ranking purposes. This persons elo will be the one we use, along with previous season rankings to determine the teams initial position. 
<br />Teams may add/remove players up until soon(tm), from then teams are then locked until the end of the season.  
</p>
The Season Coordinator will have final say on whether a team name is acceptable and has the right to raise any team name into question.

	</div>
