<div class="hero-unit">
	<h1>Season 3 Worlds  </h1>
	<br />
	<h4>Oct 4 10:00pm</h4>
	<br />
	<p>
		Join us at Clockwork for our world championship viewing party for the 2013 League of Legends World Championship!

Riot will be sending us Riot swag specific to the World Finals to give out to you guys. Meet up and watch the championships with your teammates and fellow competitors of the Texas A&M Collegiate Season as well!

Clockwork Games and Events is located on 903A Harvey Road. In the same parking lot as How Do You Roll and Subway on Harvey Rd. Their phone number is (979) 703-1838 if you need to contact them for any reason.

Contact us for any other questions you might have!
		
	</p>
	<p>903A Harvey Rd, College Station, Texas 77840</p>
	<p><a href="https://www.facebook.com/events/440684019386248/">Facebook Event</p>
	</div>
