@import "bootstrap";
$lightGray: #999;
$black: #000000;
$blue: #0000FF;
$lightblue:#6495ed;
$grayMediumLight: #eaeaea;

nav {
  margin-top: 10px;
  width: 100%;
  float: right; 
  text-align: center;
}

nav ul ul {
  display: none;
   width: 100;
}

  nav ul li:hover > ul {
    display: block;
  }


nav ul {
  width: 100%;
  background: #efefef; 
  background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
  background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
  background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding: 0 20px;
  border-radius: 10px;  
  list-style: none;
  position: relative;
  display: inline-table;
}
  nav ul:after {
    content: ""; clear: both; display: block;
  }

  nav ul li {
    float: left;
  }
    nav ul li:hover {
      background: #4b545f;
      background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
      background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
      background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
    }
      nav ul li:hover a {
        color: #fff;
      }
    
    nav ul li a {
      display: block; padding: 25px 40px;
      color: #757575; text-decoration: none;
    }
      
    
  nav ul ul {
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
  }
    nav ul ul li {
      float: none; 
      border-top: 1px solid #6b727c;
      border-bottom: 1px solid #575f6a; position: relative;
    }
      nav ul ul li a {
        padding: 15px 40px;
        color: #fff;
      } 
        nav ul ul li a:hover {
          background: #4b545f;
        }
    
  nav ul ul ul {
    position: absolute; left: 100%; top:0;
  }
@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

h1, h2{
  line-height: 5;
}

h1 {
   font-family: sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
   font-family: sans-serif;
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}
h3{
   font-family: sans-serif;
    font-size: 3em;
    font-family: sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
 

h4 {
    margin: 0px 0px 20px;
    font-size: 1.9em;
    font-family: Arial,sans-serif;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;

  font-weight: bold;
  line-height: 1;
}
th{
  font-weight:normal;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
footer {
  left: 0px;
  padding-top: 10 px;
  color:    #0052CC;
  position: relative;
  text-align: center;
width: 600px;
margin: 0px auto;
overflow: scroll; 
 
   background: #DFDFEA;
  //background-image:url('footer_background.jpg');
     //background-image:url(http://riot-web-static.s3.amazonaws.comimg/lol-footer-sprite.png) ;
   
  sponsers{
    
    display: table-cell;
vertical-align: top;
text-align: center;
  position: relative;
  }
  small { 
      position: relative;
    float: left; 
  }
  ul{ 
      position: relative;
    width: 300px;
    float: right;
      li {
    
     
      //float: right;
      list-style: none;
      color:    #0052CC;
      
   
        color:    #0052CC;
       // float: left;
                color:    #0052CC;
      font-size: 14px;
  font-family: Tahoma,sans-serif;
        margin-left: 10px; 
           display: table-cell;
      vertical-align: middle;
      text-align: center;
    
  } 
  }

}

.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
}
 
.viewport .frame { 
  width: 200%;
  top: 0;
  bottom: 0;
  left: 0;
}


.menu {
  height:100%;
}
 
.menu.collapse {
  float:left;
  height: 100% !important;
  width: auto;
}
 
menu.collapse.height {
  position: relative;
  height: 0;
  overflow: scroll;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
 
menu.collapse.width {
  position: relative;
  width: 0;
  overflow: scroll;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
 
menu.collapse.in.width {
  width: auto;
}
 
menu.collapse.in.height {
  height: auto;
}
 
menu.collapse-inner {
  position: relative;
  width: 250px;
  height: 100%;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

 .span2
{
  float: left;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $lightGray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    .span2
{
  float: left;
}
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      float: left;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 5px;
    }
  }
}
 body {
  padding-top: 00px;
  text-align: center;
   font-family:   book antiqua;
  background-image: url('black.jpg');
  background-size:100% 100%;
  background-position: 0px 50px;
    background-repeat: repeat-y;
    overflow: auto;
}

   
 
  .wellsidebar-nav{
    padding-top: 200px;
    min-height: 60px;
    padding: 19px;
    margin-bottom: 40px;
    background-color: rgb(245, 245, 245);
    //border: 1px solid rgb(227, 227, 227);
   // border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    
}

.gravatar {
  float: center;
  margin-right: 10px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: scroll;
    padding: 10px 0;
    border-top: 1px solid $lightGray;
    &:last-child {
      border-bottom: 1px solid $lightGray;
    }
  }
}

/* calendar */

.calendar {
  
  border-collapse: collapse;
  width: 100%;
td,
th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

th {
  background: #CDD;
  font-size: 20px;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

td {
  background: #FFF;
  color: #777;
  height: 120px;
  vertical-align: top;
  font-size: 16px;
}

#holiday{}

.notmonth {
  color: #CCC;
}

#month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#month a, #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

.today {
  background-color: #C7F2FF;
}

ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  text-align: left;
}
}

.time{
  input, textarea, select, .uneditable-input {
  width: 30%;
  height: 40px;
  }
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}
.event_index{
    background-color: #C7F2FF;
    padding: 0px;
    border-top: 1px solid $black;
      font-size: 40px;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: -10px;
      margin-top: 5px;
}
.pbox{
  position:relative;
left: 400px;
  width:250px;
padding:10px;
border:5px solid gray;
margin:10px;
background-color:#6495ed;
font-family:    book antiqua;
}/*Navigation*/
  
.ptext  {
    color: #999;
   
    font-size: 24px;
    padding: 10px;
    
}
.heads{
  
  
}
/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}
 
/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}
 
 .full-height {
    height: 100%;
}
.content-area {
    background: green;
    color: white;
}

.article-tree {
    background: blue;
    color: white;
}
 #container
{
position: relative;
//background-image: url('headerbg.jpg');
}
.container-height {
    margin-top: 200px;
    height: auto;   
     
}
/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.dbox{
overflow: scroll;
    position:relative; 
       margin-left: 100px;
  width:100%; height:auto; 
  height: 900px;
padding:10px;
border:5px solid gray;
margin:10px;
font-size: 20px;
background-color:#E0ECF8;
//background-image:url(http://riot-web-static.s3.amazonaws.com/forum/ui/forum_title_bkgrd.png);
font-family:   book antiqua;
}.dbox2{
  overflow: scroll;
   margin-left: 100px;
    position:relative; 
  width:100%; height:auto; 
  height: 400px;
  font-size: 20px;
padding:10px;
border:5px solid gray;
margin:10px;
background-color:#E0ECF8;
//background-image:url(http://riot-web-static.s3.amazonaws.com/forum/ui/forum_title_bkgrd.png);
font-family:   book antiqua;
}

.longd{
  overflow: scroll;
   margin-left: 100px;
     position:relative; 
  width:100%; height:auto; 
padding:10px;
border:5px solid gray;
margin:10px;
background-color:#E0ECF8;
font-family:  book antiqua;
}
.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $lightGray;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
.posts
{
   position:relative;
  width:700px;
  height: 300px;
  border:2px    #000000;
  background-color:#FFFFCC;
  font-family:    book antiqua;
}
.navbar-inner{
  min-height:50px;
   border: 0px ; 
    
}
.header2{
 width: 100%; 

}
#logo{
  font-size: 2em;
  font-family:    book antiqua;
  
}
.wrapper2 {
  background-image: url('tophead.jpg');
  background-repeat: no-repeat; 
  width: 100%;
  height: 150px;
}

table { margin: auto; }
.hero-unit{
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border:5px solid gray;
}


#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }