<div class="hero-unit">
	<h1> TAMU Player List</h1>
	<br />
	<%= form_for(@player) do |f| %>
	<p>
		
  <b>Bronze:</b>
   
    <%= f.text_area :bronze %>
</p> 
<div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
	</div>
