<div class='hero-unit'>
	<h3>Game Republik </h3>
	<body>
		Event: 
Friday, 13 September 2013
 <br /> <img src="gamerep.jpg"   alt="#caption11" style="width: 750px"/>
 <p>Farmers Fighting takes first place taking home $375 </p>
 
 <br />
 Congrats to the other A&M team, To The Mouth for taking third


 <br />
 <img src="third.jpg"   alt="#caption11" style="width: 750px"/>

<br />
<a href="https://www.facebook.com/events/143150505884143/">Facebook Event</a>
	</body>
	
	</div>
