<div class='hero-unit'>
	<h3>Game Republik </h3>
	<body>
		Event: 
Friday, 13 September 2013
 <br />
 Fee: $100 per team
 <br />
 Prize: 75% of the fee goes toward prizes
 <br />
 Contact: Game Republik staff at 459.2244 or
Jonas DeAnda (903)915-9400 or jonas@gamerepublik.net
<br />
<a href="https://www.facebook.com/events/143150505884143/">Facebook Event</a>
	</body>
	
	</div>
