<div class="hero-unit">

<h1>
	Noctoberfest
</h1>
<p>
	Fee: $100 before Sept 25 and $125 after
	<br />
	Registration deadline: Oct 4
	<br />
	
</p>
<p>
	Tournament Date Oct 12,13 9:00 AM- 5 PM at Shadow LAN
</p>
<h4>Prizes</h4>
<p>1st Place, $400 Cash, $20 RP from Riot, Triumphant Ryze skins, Shadow LAN Hours, 
	<br /> 2nd Place, $200 Cash, $15 RP from Riot
	<br />
	3rd Place, $10 RP from Riot
	<br />
	4th Place $5 RP from Riot
	</p>
<a href="http://collisions.squarespace.com/players/">Sign Up</a>







</div>
