<div class="hero-unit">

<h1>
	Noctoberfest
</h1>
<p>
	Fee: $100 before Sept 22 and $125 after
	<br />
	Registration deadline: Oct 4
	
	
</p>
<p>
	Tournament Date Oct 12,13 9:00 AM- 5 PM at Shadow LAN
</p>
<a href="http://collisions.squarespace.com/players/">Sign Up</a>







</div>
